body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
ul{
	text-align: left;
}

h1,
h6 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 45%;
	right: 0;
	left: 0;
}


  .element {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	background: red;
  }
 

  .backdrop {
	  -moz-box-shadow: 0px 6px 5px #111; 
	  -webkit-box-shadow: 0px 6px 5px #111; 
	  box-shadow: 0px 2px 10px #111; 
	  -moz-border-radius:190px; 
	  -webkit-border-radius:190px; 
	  border-radius:190px;
  }

  .linktree {
	  width: 120px;
	  height: 120px;
	  background-image: url("https://raw.githubusercontent.com/telicoscience/telicoscience.github.io/main/pp.jpg");
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: 50% 50%;
  }